/* @media only screen and ( max-width:600 ) {
    #top{
        height: auto !important;
        display: block !important;
        justify-content: center !important;
    }

    #last{
        height: 30%;
        display: block ;
        justify-content: center;
        gap: 20px;
    }

    .teamCard {
        width: 90% !important;
        
    }

    #top .counter {
        font-size: 40px !important;
    }

    .topTeamName {
        font-size: 35px !important;
    }

    #top .teamCard {
        margin: 15px auto !important;
    }
        
} */

@font-face{
    font-family: Fjalla One;
    src: url("./font/FjallaOne-Regular.ttf");
}

#__next, mainscore, main {
    height: 100%;
}

body {
    height: 100vh; /* Make sure the body and html take up the full viewport height */
    margin: 0; /* Remove default margin */
    background-image: url("../../public/enfer.gif");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#top{
    height: 55%;
    margin: 25px;
    display: flex;
    justify-content: center;
}

#top .teamCard {
    width: 25%;
}

.topTeamName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.bottomTeamName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

#top .teamCard {
    background-color: #DAB1DA;
    border: solid 2px #5217A2;
    border-radius: 10px;
    margin: 10px;
}

#top .teamName {
    text-align: center;
    height: 20%;
}

#top .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    font-size: 170px;
    text-align: center;
}


#last{
    height: 30%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#last .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    font-size: 100px;
    text-align: center;
}

#last .teamName {
    display: flex;
}

#last .teamCard {
    border: 2 solid black;
    background-color: #D3D3D3;
    border-radius: 10px;
    width:10%;
}